  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6 container">
    <nb-card>
      <nb-card-header>Registro de una nueva ruta</nb-card-header>
      <nb-card-body>
        <nb-stepper #stepper>

          <!-- Set Route Name Form -->
          <nb-step [stepControl]="nameForm" label="Nombre">
            <form [formGroup]="nameForm" class="step-container">
              <p >
                Ingrese el nombre o la descripcion de la ruta.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Nombre de ruta" class="form-control" formControlName="name"
                       [ngClass]="{'form-control-danger': nameForm.invalid && (nameForm.dirty || nameForm.touched)}">
              </div>
              <button nbButton nbStepperNext (click)="onNameSubmit()">Siguiente</button>
            </form>
          </nb-step>

          <!-- Set Destination Form -->
          <nb-step [stepControl]="destinationForm" label="Destino">
            <form [formGroup]="destinationForm" (ngSubmit)="onDestinationSubmit()" class="step-container">
              <p>
                Seleccione el destino de la ruta.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Destino" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': destinationForm.invalid && (destinationForm.dirty || destinationForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>Anterior</button>
              <button nbButton nbStepperNext>Siguiente</button>
            </form>
          </nb-step>

          <!-- Create Checkpoints From-->
          <nb-step [stepControl]="checkpointForm" label="Puntos de Control">
            <form [formGroup]="checkpointForm" (ngSubmit)="onCheckpointsSubmit()" class="step-container">
              <p class="lorem">
                Agrege todos los puntos de control por los cuales pasara la ruta. Debe de llenar la informacion
                correspondiente de cada punto de control.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                       [ngClass]="{'form-control-danger': checkpointForm.invalid && (checkpointForm.dirty || checkpointForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>Anterior</button>
              <button nbButton nbStepperNext>Siguiente</button>
            </form>
          </nb-step>

          <nb-step [stepControl]="checkpointForm" [hidden]="true" label="Third step">
            <div class="step-container">
              <h3>Registro de nueva ruta completado!</h3>
              <button nbButton (click)="stepper.reset()">Registrar Nueva Ruta</button>
              <button nbButton (click)="goHome()  ">Salir</button>              
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>