@import "../../../../@theme/styles/themes.scss";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host
  ::ng-deep
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 0.5em;
}

:host
  ::ng-deep
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5a6769;
}
