<div class="row">
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
        <nb-card>
        <!-- Titulo de actualizar assignacion de operador -->
        <nb-card-header>
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
            <nb-icon icon="compass-outline" pack="eva"></nb-icon>
            Asignación de Operador
        </nb-card-header>
        <nb-card-body>
            <!-- Formulario para asignar un operador -->
            <form [formGroup]="formOperatorAssigment">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Operador actual  -->
                        <div class="form-group">
                            <label for="currentOperator" class="label">Operador actual</label> 
                            <input 
                            type="text"
                            formControlName="currentOperator" 
                            nbInput
                            fullWidth 
                            id="currentOperator" 
                            placeholder="Operador Actual"
                            />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Operador Seleccionado -->
                        <div class="form-group">
                            <label for="selectedOperator" class="label">Operador Seleccionado</label> 
                            <div *ngIf="formOperatorAssigment.get('selectedOperator')?.errors && formOperatorAssigment.get('selectedOperator')?.touched || errors" >
                                <label class="label" style="color: red;" *ngIf="formOperatorAssigment.get('selectedOperator').hasError('required')">{{ERROR_REQUIRED}}</label>
                            </div>
                            <input 
                            type="text"
                            [class.inp-invalid]="formOperatorAssigment.get('selectedOperator')?.errors && formOperatorAssigment.get('selectedOperator')?.touched || errors" 
                            formControlName="selectedOperator" 
                            nbInput 
                            fullWidth 
                            id="selectedOperator" 
                            placeholder="Operador seleccionado"
                            readonly
                            required
                            />
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <button type="submit" nbButton status="primary" (click)="modify_operator()" hero>Editar</button>&nbsp;&nbsp;
                    <button nbButton status="danger" (click)="onCancel()" hero>Cancelar</button>        
                </div>

                <br>

                <!-- Tabla de operadores -->
                <div class="form-group">
                    <label for="operators" class="label">Operadores Disponibles</label>
                    <ng2-smart-table 
                    [settings]="settings" 
                    [source]="source"
                    (custom)="onCustomAction($event)"
                    (userRowSelect)="onCustomAction($event)"
                    >
                    </ng2-smart-table>
                </div>
        </form>
        </nb-card-body>
    </nb-card>
    </div>
</div>