@import "../../../../@theme/styles/themes.scss";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.center {
  display: flex;
  justify-content: center;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host
  ::ng-deep
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 0.5em;
}

:host
  ::ng-deep
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5a6769;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inline [fullWidth] {
    flex: 1;
}

.form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
}

.black {
  color: black;
}

.required {
  color: red;
}

.borderless {
  border-style: none;
}

.inp-invalid {
    background-color: rgb(255, 204, 204);
    box-shadow: 0 0 5px red;
}

.inp-valid {
    background-color: rgb(219, 255, 214);
    box-shadow: 0 0 5px green;
}
