<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hola! Bienvenido otra vez.</p>
<form [formGroup]="form" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Username</label>
    <input nbInput
           fullWidth
           formControlName="username"
           name="email"
           id="input-email"
           placeholder="Username"
           fieldSize="large"
           autofocus>
    <div *ngIf="errors">
      <label class="label" style="color: red;" *ngIf="form.get('username').hasError('required')">{{ERROR_REQUIRED}}</label>
    </div>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
    </span>
    <input nbInput
           fullWidth
           formControlName="password"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password"
           fieldSize="large">
    <div *ngIf="errors">
      <label class="label" style="color: red;" *ngIf="form.get('password').hasError('required')">{{ERROR_REQUIRED}}</label><br>
      <label class="label" style="color: red;" *ngIf="form.get('password').hasError('minLength')">El campo debe tener almenos 10 caracteres</label>
    </div>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe">Remember me</nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          [disabled]="form.invalid"
          (click)="submit()"
          status="primary"
          size="large">
    Log In
  </button>
</form>
