 <div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Busqueda de cliente por NIT:</nb-card-header>
      <nb-card-body>
        <div class="form-inline">
          <button type="submit" nbButton status="primary" (click)="openModalClient()">Nuevo cliente</button>
          <!-- <input type="text" nbInput fullWidth [ngModel]="nitIngressed">
          <nb-icon [icon]="icons.ionicons[0]" pack="ion"></nb-icon>
          <div *ngIf="searchInput != ''">
            <a *ngFor="client of clients; let i=index" (click)="functionClick(i)">{{client.NIT}}</a>

          </div>-->
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    Listado de clientes
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
