<div class="center">
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <nb-card>

        <!-- Titulo del formulario para creacion de rutas  -->
        <nb-card-header>
            <nb-icon icon="plus" pack="eva"></nb-icon>
            <nb-icon icon="car-outline" pack="eva"></nb-icon>
            Ruta
        </nb-card-header>
        
        <!-- Cuerpo del formulario para creacion de rutas -->
        <nb-card-body>
          <form [formGroup]="formRoute">
            
            <!-- Nombre -->
            <div class="form-group">
                <label class="required">*</label>
                <label for="name" class="label">Nombre</label> 
                <input 
                    type="text"
                    [class.inp-invalid]="formRoute.get('name')?.errors && formRoute.get('name')?.touched || errors" 
                    formControlName="name"
                    nbInput 
                    fullWidth 
                    id="name" 
                    placeholder="Ingrese el nombre de la ruta a crear."
                    required
                />
                <div *ngIf="formRoute.get('name')?.errors && formRoute.get('name')?.touched || errors" >
                    <label class="label required" *ngIf="formRoute.get('name').hasError('required')">{{ERROR_REQUIRED}}</label>
                </div>  
            </div>

            <!-- Destino -->
            <div class="form-group">
              <label class="required">*</label>
              <label for="destination" class="label">Destino</label>  
              <input 
                    type="text"
                    #destinationInput
                    [class.inp-invalid]="formRoute.get('destination')?.errors && formRoute.get('destination')?.touched || errors" 
                    formControlName="destination"
                    nbInput 
                    fullWidth 
                    id="destination"
                    placeholder="Busque un destino para la ruta."
                    required
                    readonly
              />
              <div *ngIf="formRoute.get('destination')?.errors && formRoute.get('destination')?.touched || errors" >
                <label class="label required" *ngIf="formRoute.get('destination').hasError('required')">{{ERROR_REQUIRED}}</label>
              </div>  

              <br>
              <br>
              <!-- Barra de busqueda -->
              <div>
                <input
                nbInput
                [ngClass]="{'loading': isLoading}"
                [spellcheck]="false"
                placeholder="Buscar destino"
                type="text"
                (ngModelChange)="search($event)"
                [(ngModel)]="src"
                [ngModelOptions]="{standalone: true}">
                <nb-icon icon="search-outline" pack="eva"></nb-icon>
              </div>
              
              <!-- Lista con los destinos obtenidos tras la busqueda -->
              <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" class="list-card bordeless" size="small">
                <nb-list>
                  <nb-list-item 
                    (click)="setDestination(item.id, item.name)" 
                    *ngFor="let item of data | async"
                    (mouseenter)="setHoverBorder($event)"
                    (mouseleave)="setHoverBorder($event)">
                      {{item.name}} <br>
                      Tarifa: Q{{item.fee}}
                  </nb-list-item>
                </nb-list>
              </nb-card>  
          </div>
             
            <div class="row">
              <button type="submit" nbButton status="primary" (click)="createRoute()" hero>Crear</button>&nbsp;&nbsp;
              <button routerLink="{{ADMIN_HOME}}" nbButton status="danger" hero>Cancelar</button>
            </div>
          </form>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
