<div class="row">
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <!-- Titulo del formulario de tarifas globales  -->
      <nb-card-header>Tarifas</nb-card-header>
      <nb-card-body>
        <!-- Formulario para tarifas -->
        <form [formGroup]="formRates">
          <div class="row">
             <!-- Por Operacion -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="operationFee" class="label">Por Operación</label> 
                <div *ngIf="formRates.get('operatorFee')?.errors && formRates.get('operatorFee')?.touched || errorOperationFee" >
                  <label class="label" style="color: red;" *ngIf="formRates.get('operatorFee').hasError('required')">{{ERROR_REQUIRED}}</label>
                  <label class="label" style="color: red;" *ngIf="formRates.get('operatorFee').hasError('min')">{{ERROR_MIN}}</label><br>
                  <label class="label" style="color: red;" *ngIf="formRates.get('operatorFee').hasError('pattern')">{{ERROR_NUMBER}}</label>
                </div>
                <input 
                type="number"
                [class.inp-invalid]="formRates.get('operatorFee')?.errors && formRates.get('operatorFee')?.touched || errorOperationFee" 
                formControlName="operatorFee" 
                step="0.01" 
                min="0" 
                nbInput 
                fullWidth 
                id="operationFee" 
                placeholder="Por Operacion"
                required
                />
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Last Name</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">First Name</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Last Name</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name" />
              </div>
            </div>
          </div>
          
          <button type="submit" nbButton status="danger" (click)="set_rates()">Agregar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>